# This file is automatically applied on top of docker-compose.yml when running `docker compose` commands.

services:
  logos-blockchain-node-0:
    ports: !override
      - "18080:18080/tcp"
    environment:
      - RUST_LOG=error

  sequencer_runner:
    depends_on:
      - logos-blockchain-node-0
      - indexer_service
    volumes: !override
      - ./configs/docker-all-in-one/sequencer:/etc/sequencer_runner

  indexer_service:
    depends_on:
      - logos-blockchain-node-0
    volumes:
      - ./configs/docker-all-in-one/indexer/indexer_config.json:/etc/indexer_service/indexer_config.json

  explorer_service:
    depends_on:
      - indexer_service
    environment:
      - INDEXER_RPC_URL=http://indexer_service:8779