[package]
name = "storage"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow.workspace = true
serde_json.workspace = true
serde.workspace = true
thiserror.workspace = true

rocksdb.workspace = true

[dependencies.common]
path = "../common"
