on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "!.github/workflows/*.yml"

  pull_request:
    paths-ignore:
      - "**.md"
      - "!.github/workflows/*.yml"

name: General

jobs:
  build-ubuntu-latest:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    name: build - ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: build - ubuntu-latest
        if: success() || failure()
        run: chmod 777 ./ci_scripts/build-ubuntu.sh && ./ci_scripts/build-ubuntu.sh


  build-macos-latest:
    runs-on: macos-latest
    timeout-minutes: 60

    name: build - macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: build - macos-latest
        if: success() || failure()
        run: chmod 777 ./ci_scripts/build-macos.sh && ./ci_scripts/build-macos.sh

  lint:
    strategy:
      matrix:
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 60

    name: lint - ${{ matrix.crate }} - ${{ matrix.platform }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt, clippy
      - name: lint - ubuntu-latest
        if: success() || failure()
        run: chmod 777 ./ci_scripts/lint-ubuntu.sh && ./ci_scripts/lint-ubuntu.sh


  # test:
  #   strategy:
  #     matrix:
  #       platform: [ ubuntu-latest ]
  #   runs-on: ${{ matrix.platform }}
  #   timeout-minutes: 60

  #   name: test - ${{ matrix.crate }} - ${{ matrix.platform }}
  #   steps:
  #     - name: Checkout sources
  #       uses: actions/checkout@v3
  #     - name: Install stable toolchain
  #       uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         toolchain: nightly
  #         override: true
  #     - uses: Swatinem/rust-cache@v2
  #     - name: install risc0
  #       if: success() || failure()
  #       run: |
  #         curl -L https://risczero.com/install | bash
  #     - name: install risc0 step 2
  #       if: success() || failure()
  #       run: |
  #         source /home/runner/.bashrc && rzup install && source /home/runner/.bashrc
  #     - name: test mempool
  #       if: success() || failure()
  #       run: cargo test -p mempool
  #     - name: test storage
  #       if: success() || failure()
  #       run: cargo test -p storage
  #     - name: test zkvm
  #       if: success() || failure()
  #       run: cargo test -p zkvm
